<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>js</servlet-name>
        <servlet-class>Servlets.js</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Soldados_Abastecidos</servlet-name>
        <servlet-class>Controladores_GUI.Soldados_Abastecidos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Soldados_Abastecimiento</servlet-name>
        <servlet-class>Controladores_GUI.Soldados_Abastecimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Soldado_Abastecimiento</servlet-name>
        <servlet-class>Servlets.Soldado_Abastecimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ciclos</servlet-name>
        <servlet-class>Servlets.Ciclos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Soldado_Planilla</servlet-name>
        <servlet-class>Servlets.Soldado_Planilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Listar_Ciclos</servlet-name>
        <servlet-class>Servlets.Listar_Ciclos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Soldado_Ciclos</servlet-name>
        <servlet-class>Servlets.Soldado_Ciclos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Soldado</servlet-name>
        <servlet-class>Servlets.Soldado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Planilla_Soldado</servlet-name>
        <servlet-class>Servlets.Planilla_Soldado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Articulos_Planilla</servlet-name>
        <servlet-class>Abastecimiento.Articulos_Planilla</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Consolidado</servlet-name>
        <servlet-class>Abastecimiento.Consolidado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Devolucion</servlet-name>
        <servlet-class>Devolucion.Devolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Configurar_Devolucion</servlet-name>
        <servlet-class>Devolucion.Configurar_Devolucion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Abastecimiento</servlet-name>
        <servlet-class>Abastecimiento.Abastecimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Configurar_Abastecimiento</servlet-name>
        <servlet-class>Abastecimiento.Configurar_Abastecimiento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Comida_Caliente</servlet-name>
        <servlet-class>Comida_Caliente.Comida_Caliente</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>js</servlet-name>
        <url-pattern>/js</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soldados_Abastecidos</servlet-name>
        <url-pattern>/Soldados_Abastecidos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soldados_Abastecimiento</servlet-name>
        <url-pattern>/Soldados_Abastecimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soldado_Abastecimiento</servlet-name>
        <url-pattern>/Soldado_Abastecimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ciclos</servlet-name>
        <url-pattern>/Ciclos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soldado_Planilla</servlet-name>
        <url-pattern>/Soldado_Planilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Listar_Ciclos</servlet-name>
        <url-pattern>/Listar_Ciclos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soldado_Ciclos</servlet-name>
        <url-pattern>/Soldado_Ciclos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Soldado</servlet-name>
        <url-pattern>/Soldado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Planilla_Soldado</servlet-name>
        <url-pattern>/Planilla_Soldado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Articulos_Planilla</servlet-name>
        <url-pattern>/Articulos_Planilla</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Consolidado</servlet-name>
        <url-pattern>/Consolidado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Devolucion</servlet-name>
        <url-pattern>/Devolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Configurar_Devolucion</servlet-name>
        <url-pattern>/Configurar_Devolucion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Abastecimiento</servlet-name>
        <url-pattern>/Abastecimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Configurar_Abastecimiento</servlet-name>
        <url-pattern>/Configurar_Abastecimiento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Comida_Caliente</servlet-name>
        <url-pattern>/Comida_Caliente</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
